In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import re

In [6]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kishan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
stop_words=stopwords.words('english')
stop_words

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [8]:
data = pd.read_csv('datasets/train.csv')

In [36]:
data.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [37]:
data.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [38]:
data.fillna('',inplace=True)

In [40]:
data.isna().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [41]:
data['content']=data['author']+' '+data['title']

In [50]:
data.head()

   id  ...                                            content
0   0  ...  Darrell Lucus House Dem Aide: We Didn’t Even S...
1   1  ...  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2   2  ...  Consortiumnews.com Why the Truth Might Get You...
3   3  ...  Jessica Purkiss 15 Civilians Killed In Single ...
4   4  ...  Howard Portnoy Iranian woman jailed for fictio...

[5 rows x 6 columns]

In [63]:
X=data.drop('label',axis=1)
X

          id  ...                                            content
0          0  ...  Darrell Lucus House Dem Aide: We Didn’t Even S...
1          1  ...  Daniel J. Flynn FLYNN: Hillary Clinton, Big Wo...
2          2  ...  Consortiumnews.com Why the Truth Might Get You...
3          3  ...  Jessica Purkiss 15 Civilians Killed In Single ...
4          4  ...  Howard Portnoy Iranian woman jailed for fictio...
...      ...  ...                                                ...
20795  20795  ...  Jerome Hudson Rapper T.I.: Trump a ’Poster Chi...
20796  20796  ...  Benjamin Hoffman N.F.L. Playoffs: Schedule, Ma...
20797  20797  ...  Michael J. de la Merced and Rachel Abrams Macy...
20798  20798  ...  Alex Ansary NATO, Russia To Hold Parallel Exer...
20799  20799  ...            David Swanson What Keeps the F-35 Alive

[20800 rows x 5 columns]

In [64]:
Y=data['label']
Y

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 20800, dtype: int64

In [68]:
stemmer=PorterStemmer()

In [70]:
def stemming(content):
    stemmed_data=re.sub('[^a-zA-Z]',' ',content)
    stemmed_data=stemmed_data.lower()
    stemmed_data=stemmed_data.split()
    stemmed_data=[stemmer.stem(i) for i in stemmed_data if i not in stop_words]
    stemmed_data=' '.join(stemmed_data)
    return stemmed_data

In [71]:
data['content']=data['content'].apply(stemming)

In [74]:
X=data['content'].values

In [75]:
Y=data['label'].values

In [76]:
vectorize=TfidfVectorizer()

In [78]:
vectorized_data=vectorize.fit_transform(X)
print(vectorized_data)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 210687 stored elements and shape (20800, 17128)>
  Coords	Values
  (0, 3600)	0.3598939188262558
  (0, 8909)	0.36359638063260746
  (0, 7005)	0.2187416908935914
  (0, 3792)	0.27053324808454915
  (0, 267)	0.2701012497770876
  (0, 4973)	0.23331696690935097
  (0, 13473)	0.2565896679337956
  (0, 2959)	0.24684501285337127
  (0, 8630)	0.2921251408704368
  (0, 7692)	0.24785219520671598
  (0, 2483)	0.36765196867972083
  (0, 15686)	0.2848506356272864
  (1, 3568)	0.26373768806048464
  (1, 5503)	0.7143299355715573
  (1, 6816)	0.1904660198296849
  (1, 2813)	0.19094574062359204
  (1, 1497)	0.2939891562094648
  (1, 16799)	0.30071745655510157
  (1, 2223)	0.3827320386859759
  (1, 1894)	0.15521974226349364
  (2, 3103)	0.46097489583229645
  (2, 2943)	0.3179886800654691
  (2, 15611)	0.41544962664721613
  (2, 9620)	0.49351492943649944
  (2, 5968)	0.3474613386728292
  :	:
  (20797, 9588)	0.17455348025522197
  (20797, 7042)	0.21799048897828685
  (20797, 3643)	0.2115550061362374
  (20797, 8364)	0.22322585870464115
  (20797, 9518)	0.29542040034203126
  (20797, 12138)	0.24778257724396505
  (20797, 14967)	0.3115945315488075
  (20797, 12344)	0.27263457663336677
  (20797, 13122)	0.24825263521976057
  (20797, 1287)	0.3353805680413986
  (20797, 699)	0.3068584607976234
  (20797, 43)	0.2971024186070062
  (20797, 8988)	0.36160868928090795
  (20798, 13046)	0.22363267488270608
  (20798, 10177)	0.3192496370187028
  (20798, 6889)	0.32496285694299426
  (20798, 11052)	0.4460515589182236
  (20798, 350)	0.28446937819072576
  (20798, 588)	0.3112141524638974
  (20798, 5032)	0.4083701450239529
  (20798, 1125)	0.4460515589182236
  (20799, 8036)	0.45983893273780013
  (20799, 3623)	0.37927626273066584
  (20799, 14852)	0.5677577267055112
  (20799, 377)	0.5677577267055112